<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wanna go hard or take it easy?</title>
    </head>
    <body style= "font-family: Poppins, sans-serif;">
        <h1 style= "text-align: center; padding-top: 13%; font-size: 5rem; ">Would you like alcoholic or </br> non-alcoholic?</h1>
        <h4 style= "text-align: center; font-size: 1rem; ">Note* non-alcoholic cocktail suggestions based on emotions do not exist.</h4>
        <form action="alctype" method="get">
            <div class="box" style= "display: flex; justify-content: space-around; list-style-type: none;">
                <input type= "submit" name= "alctype" value= "&#129347; alcoholic" id= "alcoholic" style= "height: 5rem; width: 20rem; font-size: 30px; font-family: Poppins, sans-serif;"/>
                <input type= "submit" name= "alctype" value= "&#127868; non-alcoholic" id= "non_alcoholic" style= "height: 5rem; width: 20rem; font-size: 30px; font-family: Poppins, sans-serif;"/>
            </div>
        </form>
    </body>
</html>