<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Drinks for Everyone</title>
    </head>
    <body style= "font-family: Poppins, sans-serif;">
        <h1 style= "text-align: center; padding-top: 15%; font-size: 4rem;">How are you feeling right now??</h1>

        <div id= "div-emoji" style= "display: inline;">
            <form action="emotionresponse" method="get">
                <div id="ul-emoji" style= "display: flex; justify-content: space-around; list-style-type: none;">
                    <input type= "submit" name= "emotion_type" value= "&#128513; happy" id= "happy" style= "height: 5rem; width: 10rem; font-size: 25px; font-family: Poppins, sans-serif;">
                    <input type= "submit" name= "emotion_type" value= "&#128532; sad" id= "sad" style= "height: 5rem; width: 10rem; font-size: 25px; font-family: Poppins, sans-serif;">
                    <input type= "submit" name= "emotion_type" value= "&#128545; angry" id= "angry" style= "height: 5rem; width: 10rem; font-size: 25px; font-family: Poppins, sans-serif;">
                    <input type= "submit" name= "emotion_type" value= "&#128528; neutral" id= "neutral" style= "height: 5rem; width: 10rem; font-size: 25px; font-family: Poppins, sans-serif;">
                </div>
            </form>
    </div>
    </body>
</html>