<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Let's get this party started!</title>
    </head>
    <body style= "font-family: Poppins, sans-serif;">
        <h1 style= "text-align: center; padding-top: 13%; font-size: 5rem; ">So glad you're here!</h1>
        <h1 style= "text-align: center; font-size: 3rem;">Ready to see what cocktail best fits your mood?</h1>
        <h1 style= "text-align: center; font-size: 1rem;">Disclaimer: if you currently are or have struggled with alcoholism in the past</br>this may not be the app for you. <span style= "color: red">Please drink responsibly.</span></h1>
        <form action="start" method="get">
            <div class="box" style= "display: flex; justify-content: center; margin-top: 5vw">
            <input type= "submit" name= "gobtn" value= "&#128073;" id= "go" style= "height: 5rem; width: 10rem; font-size: 50px;"/>
            </div>
        </form>
    </body>
</html>